!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "images/favicon.ico", :rel => "icon", :type => "image/ico"}/
    %title Code Auditor!
    %link{:href => "assets/css/bootstrap/dist/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/font-awesome/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/nprogress/nprogress.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/iCheck/skins/flat/green.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/jqvmap/dist/jqvmap.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/bootstrap-daterangepicker/daterangepicker.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/custom.css", :rel => "stylesheet"}/
  %body.nav-md
    .container.body
      .main_container
        .col-md-3.left_col
          .left_col.scroll-view
            .navbar.nav_title{:style => "border: 0;"}
              %a.site_title{:href => "index.html"}
                %i.fa.fa-paw
                %span Code Auditor!
            .clearfix
            .profile.clearfix
              .profile_pic
                %img.img-circle.profile_img{:alt => "...", :src => "images/img.jpg"}/
            %br/
            .main_menu
              %nav#sidebar
                .sidebar-header
                  %h3 Reports
                %ul.nav.side-menu
                  - menu_items.each do |item|
                    %li
                      - if item[:child_items] && item[:child_items].any?
                        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "##{item[:class]}"}
                          = item[:name]
                          %span.fa.fa-chevron-down
                        %ul.collapse.nav.side-menu{ id: item[:class] }
                          - item[:child_items].each do |child_item|
                            %li
                              - if child_item[:child_items] && child_item[:child_items].any?
                                %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "##{child_item[:class]}"}
                                  = child_item[:name]
                                  %span.fa.fa-chevron-down
                                %ul.collapse.nav.side-menu{ id: child_item[:class] }
                                  - child_item[:child_items].each do |nested_item|
                                    %li
                                      %a{:href => "#{nested_item[:link]}"}= nested_item[:name]
                              - else
                                %a{:href => "#{child_item[:link]}"}= child_item[:name]
                      - else
                        %a{:href => "#{item[:link]}"}= item[:name]
        .top_nav
          .nav_menu
            %nav
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a.user-profile{:class => "aria-expanded=", :false => "", :href => "javascript:;"}
                    %i.fa.fa-envelope-o
                    = succeed "code_auditor@rubygarage.org" do
                      %img{:alt => "", :src => "images/img.jpg"}/
        .right_col{:role => "main"}
          .row.tile_count
            .col-md-2.col-sm-4.col-xs-6.tile_stats_count
              %span.count_top
                %i.fa.fa-diamond
                Ruby version
              .count= ruby_version
            .col-md-2.col-sm-4.col-xs-6.tile_stats_count
              %span.count_top
                %i.fa.fa-cog
                Rails version
              .count= rails_version
            .col-md-2.col-sm-4.col-xs-6.tile_stats_count
              %span.count_top
                %i.fa.fa-table
                Quantity of gems used
              .count= quantity_of_gems
            .col-md-2.col-sm-4.col-xs-6.tile_stats_count
              %span.count_top
                %i.fa.fa-database
                Database adapter
              .count= database_adapter
            .col-md-2.col-sm-4.col-xs-6.tile_stats_count
              %span.count_top
                %i.fa.fa-git-square
                Git
              .count
                %i.fa{ class: "#{git_existence? ? 'fa-check-circle' : 'fa-times-circle'}", style: "font-size: 55px;" }
            .col-md-2.col-sm-4.col-xs-6.tile_stats_count
              %span.count_top
                %i.fa.fa-cog
                Javascript Runtime Version
              .count= js_runtime_version
          / /top tiles
          %br/
          .row
            .col-md-12.col-sm-12.col-xs-12
              .x_panel.tile
                .x_title
                  %h2 Files summary
                  %ul.nav.navbar-right
                    %li
                      %a.collapse-link
                        %i.fa.fa-chevron-up
                  .clearfix
                .x_content
                  %table.countries_list
                    %tbody
                      %th Name
                      %th Lines
                      %th LOC
                      %th Classes
                      %th Methods
                      - files_summary_table.each do |summary|
                        %tr
                          %td= summary[:type]
                          %td= summary[:statistics][:lines]
                          %td= summary[:statistics][:code_lines]
                          %td= summary[:statistics][:classes]
                          %td= summary[:statistics][:methods]
          %br/
          .row
            .col-md-4.col-sm-4.col-xs-12
              .x_panel.tile.fixed_height_320.overflow_hidden
                .x_title
                  %h2 Errors chart
                  %ul.nav.navbar-right
                    %li
                      %a.collapse-link
                        %i.fa.fa-chevron-up
                  .clearfix
                .x_content
                  %table{:style => "width:100%"}
                    %tr
                      %th{:style => "width:37%;"}
                        %p Top 5
                      %th
                        .col-lg-7.col-md-7.col-sm-7.col-xs-7
                          %p Type
                        .col-lg-5.col-md-5.col-sm-5.col-xs-5
                          %p Total errors
                    %tr
                      %td
                        %canvas#errorsCount{:height => "140", :style => "margin: 15px 10px 10px 0", :width => "140"}
                      %td
                        %table.tile_info
                          - errors_count_chart.each do |error|
                            %tr
                              %td
                                %p
                                  %i.fa.fa-square{class: "#{error[:chart_color]}"}>
                                  = error[:error_name]
                                  issues
                              %td= error[:error_count]
          %br
          .row
            .col-md-12.col-sm-12.col-xs-12
              .x_panel.tile
                .x_title
                  %h2
                    Routes list
                    %small There are #{list_with_routes.count} routes
                  %ul.nav.navbar-right
                    %li
                      %a.collapse-link
                        %i.fa.fa-chevron-up
                  .clearfix
                .x_content
                  %table.countries_list
                    %tbody
                      %th Prefix
                      %th Verb
                      %th URI
                      %th Pattern
                      - list_with_routes.each do |route|
                        %tr
                          %td= route[:prefix]
                          %td= route[:verb]
                          %td= route[:uri]
                          %td= route[:pattern]
          %br/
          .row
            .col-md-4.col-sm-4.col-xs-12
              .x_panel
                .x_title
                  %h2
                    Issues & solutions
                    %small= "#{issues_pipeline[:total]} issues has solutions"
                  %ul.nav.navbar-right
                    %li
                      %a.collapse-link
                        %i.fa.fa-chevron-up
                  .clearfix
                .x_content
                  .dashboard-widget-content
                    - if issues_pipeline[:issues].any?
                      %ul.list-unstyled.timeline.widget
                        - issues_pipeline[:issues].first(5).each do |issue|
                          %li
                            .block
                              .block_content
                                %h2.title
                                  %a{ href: "#{issue[:link]}" }= issue[:title]
                                .byline
                                  %span according
                                  to
                                  %a{ href: "#{issue[:auditor_link]}" }= issue[:auditor_name]
                                %p.excerpt
                                  = issue[:message]
                                  %a{ href: "#{issue[:link]}" }Read more
                      %a{ href: 'issues-and-solutions.html' } See more...
                    - else
                      %p There are any issues with solutions
            .col-md-4.col-sm-4.col-xs-12
              .x_panel
                .x_title
                  %h2
                    Hottest issues
                    %small= "#{hottest_issues[:total]} hottest issues has solutions"
                  %ul.nav.navbar-right
                    %li
                      %a.collapse-link
                        %i.fa.fa-chevron-up
                  .clearfix
                .x_content
                  .dashboard-widget-content
                    - if hottest_issues[:issues].any?
                      %ul.list-unstyled.timeline.widget
                        - hottest_issues[:issues].first(5).each do |issue|
                          %li
                            .block
                              .block_content
                                %h2.title
                                  %a{ href: "#{issue[:link]}" }= issue[:title]
                                .byline
                                  %span according to
                                  %a{ href: "#{issue[:auditor_link]}" }= issue[:auditor_name]
                                  %span Confidence:
                                  %a{ href: "#{issue[:confidence_link]}" }= issue[:confidence]
                                  %span In group:
                                  %span{ style: "color: #73879C; font-weight: bold" }= issue[:group]
                                %p.excerpt
                                  = issue[:message]
                                %p.excerpt
                                  = issue[:file]
                                  %a{ href: "#{issue[:link]}" }Read more
                      %a{ href: 'hottest-issues.html' } See more...
                    - else
                      %p There are any hottest issues
          %br
          .row
            .col-md-6.col-sm-6.col-xs-12
              .x_panel
                .x_title
                  %h2
                    Used auditors
                  %ul.nav.navbar-right
                    %li
                      %a.collapse-link
                        %i.fa.fa-chevron-up
                  .clearfix
                .x_content
                  %ul.to_do
                    - used_auditors.each do |group, auditors|
                      %li
                        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "##{group}"}
                          = group.to_s.humanize
                          %span.fa.fa-chevron-down
                        %ul.collapse{ id: "#{group}" }
                          - auditors.each do |auditor|
                            %li
                              %p
                                - if auditor[:enabled]
                                  .icheckbox_flat-green.checked{:style => "position: relative;"}
                                - else
                                  %input.flat{:type => "checkbox", checked: false, disabled: true}/
                                = auditor[:auditor_name]
        / /page content
        / footer content
        %footer
          .pull-right
            Gentelella - Bootstrap Admin Template by
            %a{:href => "https://colorlib.com"} Colorlib
          .clearfix
        / /footer content
    %script{:src => "assets/js/jquery/dist/jquery.min.js"}
    %script{:src => "assets/js/bootstrap/dist/js/bootstrap.min.js"}
    %script{:src => "assets/js/fastclick/lib/fastclick.js"}
    %script{:src => "assets/js/nprogress/nprogress.js"}
    %script{:src => "assets/js/Chart.js/dist/Chart.min.js"}
    %script{:src => "assets/js/gauge.js/dist/gauge.min.js"}
    %script{:src => "assets/js/bootstrap-progressbar/bootstrap-progressbar.min.js"}
    %script{:src => "assets/js/iCheck/icheck.min.js"}
    %script{:src => "assets/js/skycons/skycons.js"}
    %script{:src => "assets/js/Flot/jquery.flot.js"}
    %script{:src => "assets/js/Flot/jquery.flot.pie.js"}
    %script{:src => "assets/js/Flot/jquery.flot.time.js"}
    %script{:src => "assets/js/Flot/jquery.flot.stack.js"}
    %script{:src => "assets/js/Flot/jquery.flot.resize.js"}
    %script{:src => "assets/js/flot.orderbars/js/jquery.flot.orderBars.js"}
    %script{:src => "assets/js/flot-spline/js/jquery.flot.spline.min.js"}
    %script{:src => "assets/js/flot.curvedlines/curvedLines.js"}
    %script{:src => "assets/js/DateJS/build/date.js"}
    %script{:src => "assets/js/jqvmap/dist/jquery.vmap.js"}
    %script{:src => "assets/js/jqvmap/dist/maps/jquery.vmap.world.js"}
    %script{:src => "assets/js/jqvmap/examples/js/jquery.vmap.sampledata.js"}
    %script{:src => "assets/js/moment/min/moment.min.js"}
    %script{:src => "assets/js/bootstrap-daterangepicker/daterangepicker.js"}
    %script{:src => "assets/js/custom.min.js"}

    :javascript
      function init_chart_doughnut(){
        if( typeof (Chart) === 'undefined'){ return; }
        if ($('#errorsCount').length){
          var chart_doughnut_settings = {
            type: 'doughnut',
            tooltipFillColor: "rgba(51, 51, 51, 0.55)",
            data: {
              labels: #{errors_count_chart.map{|error| error[:error_name]}},
              datasets: [
                {
                  data: #{errors_count_chart.map{|error| error[:error_count]}},
                  backgroundColor: [
                    "#3498DB",
                    "#BDC3C7",
                    "#9B59B6",
                    "#E74C3C",
                    "#26B99A"
                  ],
                  hoverBackgroundColor: [
                    "#49A9EA",
                    "#CFD4D8",
                    "#B370CF",
                    "#E95E4F",
                    "#36CAAB"
                  ]
                }
              ]
            },
            options: {
              legend: false,
              responsive: false,
            }
          }
          var chart_element = $('#errorsCount');
          var chart_doughnut = new Chart( chart_element, chart_doughnut_settings);
        }
      }

      function show_more_issues(){
        var item = $('#show_more_issues')
        console.log(item)
      }
