<div class="col-xl-4 col-lg-5">

  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Issues by category</h6>
    </div>
    <!-- Card Body -->

    <div class="card-body">

      <div class="chart-pie pt-4 pb-2">
        <canvas id="myPieChart"></canvas>
        <%= js_chart %>
      </div>

      <div class="mt-4 text-left small">
        <span class="mr-6">
          <p></p><i class="fas fa-circle text-danger"></i> Security - <%= @categorized_issues[:security]&.count || 0 %></p>
        </span>
        <span class="mr-6">
          <p><i class="fas fa-circle text-warning"></i> Bug risk - <%= @categorized_issues[:bug_risk]&.count || 0 %></p>
        </span>
        <span class="mr-6">
          <p><i class="fas fa-circle text-info"></i> Performance - <%= @categorized_issues[:performance]&.count || 0 %></p>
        </span>
        <span class="mr-6">
          <p><i class="fas fa-circle text-success"></i> Complexity - <%= @categorized_issues[:complexity]&.count || 0 %></p>
        </span>
        <span class="mr-6">
          <p><i class="fas fa-circle text-primary"></i> Unused Code - <%= @categorized_issues[:unused_code]&.count || 0 %></p>
        </span>
        <span class="mr-6">
          <p><i class="fas fa-circle text-secondary"></i> Duplication - <%= @categorized_issues[:duplication]&.count || 0 %></p>
        </span>
        <span class="mr-6">
          <p><i class="fas fa-circle text-success"></i> Style - <%= @categorized_issues[:style]&.count || 0 %></p>
        </span>
      </div>
    </div>
  </div>
</div>
